{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}



<style>
  @media(min-width: 1024px) {
    .footer__blocks-wrapper {

      {% if section.blocks.size == 1 %}
        grid-template-columns: auto 1fr;
      {% endif %}

      {% if section.blocks.size == 2 %}
        grid-template-columns: auto 1fr 1fr;
      {% endif %}

      {% if section.blocks.size == 3 %}
        grid-template-columns: auto 1fr 1fr 1fr;
      {% endif %}
    }
  }
</style>


<footer class="footer gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}
  {%- if section.blocks.size > 0 -%}

    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          <div class="footer-block__newsletter" id="footer-newsletter">
            {% if section.settings.nl_heading != blank %}
              {{ section.settings.nl_heading }}
            {% endif %}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field inputs-wrap footer__newsletter-inputs-wrap">
                  <input
                    type="text"
                    name="contact[name]"
                    id="NewsletterForm--{{ section.id }}-name"
                    class="field__input"
                    value=""
                    placeholder="Name"
                    aria-label="Name"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-name-error"
                    data-form-status
                    {% endif %}>
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                    aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required>
                </div>
                <div class="field">
                  <button
                    type="submit"
                    class="button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}">
                    Signup
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus>
                  {% render 'icon-success' -%}
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {%- endform -%}

            <div class="pdp-usps">
              {% if section.settings.usp_1 != blank %}
                <div class="usp__item">
                  <img src="{{ section.settings.usp_1 | img_url: '400x' }}" alt="">
                  {% if section.settings.usp_title_1 != blank %}
                    <p>{{ section.settings.usp_title_1 }}</p>
                  {% endif %}
                </div>
              {% endif %}
              {% if section.settings.usp_2 != blank %}
                <div class="usp__item">
                  <img src="{{ section.settings.usp_2 | img_url: '400x' }}" alt="">
                  {% if section.settings.usp_title_2 != blank %}
                    <p>{{ section.settings.usp_title_2 }}</p>
                  {% endif %}
                </div>
              {% endif %}
              {% if section.settings.usp_3 != blank %}
                <div class="usp__item">
                  <img src="{{ section.settings.usp_3 | img_url: '400x' }}" alt="">
                  {% if section.settings.usp_title_3 != blank %}
                    <p>{{ section.settings.usp_title_3 }}</p>
                  {% endif %}
                </div>
              {% endif %}                  
              {% if section.settings.usp_4 != blank %}
                <div class="usp__item">
                  <img src="{{ section.settings.usp_4 | img_url: '400x' }}" alt="">
                  {% if section.settings.usp_title_4 != blank %}
                    <p>{{ section.settings.usp_title_4 }}</p>
                  {% endif %}
                </div>
              {% endif %}
              {% if section.settings.usp_5 != blank %}
                <div class="usp__item">
                  <img src="{{ section.settings.usp_5 | img_url: '400x' }}" alt="">
                  {% if section.settings.usp_title_5 != blank %}
                    <p>{{ section.settings.usp_title_5 }}</p>
                  {% endif %}
                </div>
              {% endif %}
              {% if section.settings.usp_6 != blank %}
                <div class="usp__item">
                  <img src="{{ section.settings.usp_6 | img_url: '400x' }}" alt="">
                  {% if section.settings.usp_title_6 != blank %}
                    <p>{{ section.settings.usp_title_6 }}</p>
                  {% endif %}
                </div>
              {% endif %}                    
            </div>

            <div class="footer-social-mobile">
              {%- render 'social-icons' -%}
            </div>
          </div>


          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="footer-social-desktop">
        {%- render 'social-icons' -%}
      </div>

    </div>
  {%- endif -%}



  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width ">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select
                  class="localization-selector link"
                  name="country_code"
                  aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code %}
                      selected
                      {% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                  {{ 'localization.language_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="locale_code"
                  aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code %}
                      selected
                      {% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

    </div>
    <div class="footer__credits page-width">
      <div class="footer__content-bottom-wrapper{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy;{{ shop.name }} {{ 'now' | date: '%Y' }}, Website by <a style="text-decoration: underline;" href="https://www.dewsign.co.uk/">Dewsign</a> 
          </small>
        </div>
      </div>

      <div class="footer__column footer__column--info">


        {% comment %}
        payments here
        {% endcomment %}
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>


    </div>

  </div>
</footer>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {%- comment -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}

{%- endif -%}

{% schema %}
  {
    "name": "t:sections.footer.name",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "limit": 3,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Quick links",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      }
    ],
    "settings": [

      {
        "type": "header",
        "content": "t:sections.footer.settings.header__1.content",
        "info": "t:sections.footer.settings.header__1.info"
      },
      {
        "type": "richtext",
        "id": "nl_heading",
        "default": "<h2>Sign up for alerts and get 10% off</h2>",
        "label": "t:sections.footer.blocks.link_list.settings.heading.label"
      },
      {
        "type": "header",
        "content": "USPs",
        "info": "optional"
      },
        {
          "type": "header",
          "content": "USP 1"
        },
        {
          "type": "image_picker",
          "id": "usp_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "usp_title_1",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "USP 2"
        },
        {
          "type": "image_picker",
          "id": "usp_2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "usp_title_2",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "USP 3"
        },
        {
          "type": "image_picker",
          "id": "usp_3",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "usp_title_3",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "USP 4"
        },
        {
          "type": "image_picker",
          "id": "usp_4",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "usp_title_4",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "USP 5"
        },
        {
          "type": "image_picker",
          "id": "usp_5",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "usp_title_5",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "USP 6"
        },
        {
          "type": "image_picker",
          "id": "usp_6",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "usp_title_6",
          "label": "Heading"
        },
   
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__9.content",
        "info": "t:sections.footer.settings.header__9.info"
      },
      {
        "type": "checkbox",
        "id": "enable_country_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_country_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__5.content",
        "info": "t:sections.footer.settings.header__6.info"
      }, {
        "type": "checkbox",
        "id": "enable_language_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_language_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      }, {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__8.content",
        "info": "t:sections.footer.settings.header__8.info"
      }, {
        "type": "header",
        "content": "t:sections.all.spacing"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        }
      ]
    }
  }
{% endschema %}